.tabela {
  display: flex;
  justify-content: center;
}
.preco {
  border: none;
  background: transparent;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.atributos{
  border: none;
}
